.category-container {
  padding: 20px;
  text-align: center;
}

/* GRID */
.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.category-card {
  background: white;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

/* HOVER EFFECT */
.category-card:hover {
  transform: scale(1.05);
  border: 2px solid #b30000;
}

/* IMAGE */
.category-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

/* TEXT */
.category-card h3 {
  margin-top: 10px;
  color: #8b6f47;
}